<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">/Users/lingga.putra/logs/</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%X{requestId}] %level %logger{10} - %msg%n"/>
        </Console>
        <RollingFile name="springboot-sql2o" fileName="${log-path}/springboot-sql2o.log"
                     filePattern="${log-path}/springboot-sql2o-%d{yyyy-MM-dd}-%i.old.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%T] [%X{requestId}] %level %logger{10} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10000 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="id.springboot.sql2o" level="DEBUG" additivity="false">
            <AppenderRef ref="springboot-sql2o"/>
        </Logger>
    </Loggers>
</Configuration>